<form class="card__actions-item__middle" action="/shop/cart" method="POST">
  <button>Add to card</button>
  <input type="hidden" name="id" id="id" value="<%= product.id %>">
  <input type="hidden" name="_csrf"  value="<%=csrfToken%>"/>
</form>