<%- include("includes/head.ejs") %>
</head>

<body>
  <%- include('includes/nav.ejs') %>
  <section class="alert alert--danger">
      <h1>Some error occured!</h1>
      <p><%=errorMessage%></p>
  </section>
</body>

</html>