extends layouts/main-layout.pug

block content
    main
      h1.heading Prodcuts view
      if products.length > 0 
        .grid
          each product in products
            article.card.product-item
              header.card__header
                h1.product__title #{product.title}
                div.card__image
                  img(src="https://cdn.pixabay.com/photo/2017/05/09/03/46/alberta-2297204_960_720.jpg", alt="alt")
                div.card__content
                  h2.product__price £14.50
                  p.product__description A very beautiful place
                .card__actions
                  button.btn Add to cart
      else 
        p.no-products No Products
            

