<%- include("../includes/head.ejs") %>
</head>

<%- include('../includes/nav.ejs') %>
<main>
 <h1 class="alert alert--success">Item added to cart successfully</h1>
</main>
<%- include('../includes/end.ejs') %>