<main>
  <h1>Add new product</h1>
  <form action='/admin/add-product' method='POST'>
    <div class="form-control">
      <label for="title">Product name:</label>
      <input type='text' name='title' id='title' />
    </div>
    <div class="form-control">
      <button>Save</button>
    </div>
  </form>
</main>